<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello home

<div th:fragment="four">
    this is four fragment xixi
</div>

<p th:utext="#{user.name(${#calendars.format(today)},${name})}">lisi</p>

<p th:text="${#calendars.format(#vars.today)}+'---'+${#calendars.format(today)}"></p>
<p th:text="${#locale.country} + '--' + ${#locale.language}"></p>

<p th:text="|hello  ${name} false|">dfgfg</p>

<div th:object="${user}">
    <p>name:<span th:text="*{name}"></span></p>
    <p>age:<span th:text="*{age}"></span></p>
</div>

<h1 th:text="*{#object.name}"></h1>

<a th:href="@{http://www.baidu.com/${name}/(orderId=${name})}">百度</a>
<a th:href="@{/{orderId}(orderId=${name})}">网站web root</a>
<a th:href="@{//code.jquery.com/jquery-2.0.3.min.js}">协议root路径</a>
<a th:href="@{~/billing/processInvoice}">服务器root路径</a>

<p th:text="${name} == 12 ? 'lisi' : 'xixi'" th:xxx="hello">王五</p>


<form th:action="@{/home}" th:method="post" th:enctype="11" class="form" th:attrappend="class = '-suffix'" th:attrprepend="class='preffix-'">
    <input th:classappend="none" class="input" type="text" name="username" th:attr="value=#{user.name('lisi',${name})}"/>
    <input type="radio" name="boy" th:checked="false"> boy
    <input type="radio" name="boy" th:checked="true"> girl
    <input th:styleappend="'font:18px'" type="submit" th:attr="value=${name}"/>
</form>

<table>
    <tr th:each="u,s : ${list}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.age}"></td>
    </tr>

    <tr th:remove="tag">
        <td>爱因斯坦</td>
        <td>65</td>
    </tr>
    <tr th:remove="none">
        <td>爱迪生</td>
        <td>78</td>
    </tr>
</table>

<p th:text="false ? 12"></p>

<!--<div th:switch="2">
    <p th:case="1">nihao</p>
    <p th:case="2">hello</p>
</div>-->

<!--/*-->
<div th:insert="~{footer::copy(~{::title},_)}" th:assert="true">
    this is footer
</div>

<h1 th:fragment="title">
    this is title
</h1>

<h2 th:fragment="link">this is link</h2>
<!--*/-->

<p>hello [[${name}]]</p>
<p>hi [[#{user.name}]]</p>

<script th:inline="javascript">
    var u = /*[[${name}]]*/ "hello";
    console.log(u);
</script>

</body>
</html>